
<div id="module1" style="width: 50%;margin: 0 auto;">
  <div class="col" id="color-box">
    <div class="row">
      <div class="center">
        <div class="form-group">
          <div class="floaty">
            <label for="stockSelector">Stock:</label>
            <input type="email" class="form-control" id="stockSelector">
          </div>
          <div class="floaty">
            <label for="stockSelector">Quantity:</label>
            <input type="email" class="form-control" id="quantSelector">
          </div>
          <!-- <div style= "position:absolute; right:0"> -->
            <!-- <button  (click)="exitModule()" type="button" class="btn btn-danger">X</button> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <div ngbDropdown class="d-inline-block">
        <label for="strategySelector">Strategy: </label>
        <button class="btn btn-outline-primary" id="strategySelector" ngbDropdownToggle>Select Strategy</button>
          <div ngbDropdownMenu aria-labelledby="strategySelector">
            <button (click)="changeLabel('Two Moving Averages')" ngbDropdownItem>Two Moving Averages</button>
            <button (click)="changeLabel('Bollinger Bands')" ngbDropdownItem>Bollinger Bands</button>
            <button (click)="changeLabel('Price Breakout')"ngbDropdownItem>Price Breakout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <div ngbDropdown class="d-inline-block">
            <label>Time Frames: </label>
            <button class="btn btn-outline-primary" id="strategySelector" id="bt1" ngbDropdownToggle>Short Time</button>
              <div ngbDropdownMenu aria-labelledby="strategySelector">
                <button ngbDropdownItem>1 min</button>
                <button ngbDropdownItem>2 min</button>
                <button ngbDropdownItem>3 min</button>
              </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary smooth-scroll" id="strategySelector"id="bt2" ngbDropdownToggle>Long Time</button>
              <div ngbDropdownMenu aria-labelledby="strategySelector">
                <button ngbDropdownItem>1 s</button>
                <button ngbDropdownItem>2 s</button>
                <button ngbDropdownItem>3 s</button>
              </div>
        </div>
        <button type="button" class="btn btn-success" id="bt3">Initiate Strategy</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class = "strategyProcess floaty">
                  <div class="col">
                    <div class = "row">
                      Stock: stockName
                      <br>
                      Quantity: stockQuantity
                      <br>
                      Strategy: strat
                      <br>
                      Time Frames: 1 to 2
                    </div>
                    <div class="row">
                      <button type="button" class="btn btn-success" id="bt3">Restart</button>
                      <button type="button" class="btn btn-warning" id="bt3">Pause</button>
                      <button type="button" class="btn btn-danger" id="bt3">End</button>
                    </div>
                  </div>
                </div>
 -->